@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; 
  text-rendering: optimizeLegibility; 
  background-color: rgb(164, 164, 164);
}