@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --toastify-color-dark: rgb(248, 248, 248);
  text-rendering: optimizeLegibility;
  background-color: rgb(255, 255, 255);
}

.custom-underline {
  text-decoration: underline;
  text-underline-offset: 0.2em;
}
